body {
	display: block;
	margin: 0;
	background-color: #000000;
}

#bg {
	position: absolute;
	z-index: -1;
	background-color: #000000;
}

/*每个icon　DIV*/
.cdiv {
/*	border: solid 1px #FF0000;*/
	width: 80px;
	height: 100px;
	position: absolute;
	z-index: 0;
}

/*每个icon DIV的canvas*/
.dcanvas {
	position: absolute;
	z-index: 0;
/*	background-color: #999999;*/
}

/*更换壁纸时的文件选择框*/
#bgChoosediv {
	position: absolute;
	border: solid 1px #000000;
	z-index: 10;
	height: 400px;
	width: 600px;
        background-color: #999999;
}

#bgChoosewp {
	position:absolute;
	left:10px;
	top:10px;
	width:580px;
	height:350px;
	background-color: #ffffff;
}

#bgchoosefile_button {
	position: absolute;
	left: 10px;
	top: 370px;
	width: 80px;
	height: 25px;
	background-color: #999999;
}

#bgChoose_use {
	position: absolute;
	left: 150px;
	top: 370px;
	width: 80px;
	height: 25px;
	background-color: #999999;
}

#bgChoose_cancel {
	position: absolute;
	left: 250px;
	top: 370px;
	width: 80px;
	height: 25px;
	background-color: #999999;
}
